/* CSS HEX 
--international-orange-golden-gate-bridge: #c63421ff;
--dark-olive-green: #52663cff;
--tumbleweed: #d9a88eff;
--desert-sand: #efcbafff;
--vermilion: #ca4c33ff; */

#navBar{
    background-color: #efcbafff;
}

.nav-link{
    color: #52663cff;
        font-family: 'Lucida Sans';
}

body{
    background-image: url("Images/Background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


#heading{
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}

#pezzza{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#pizzaList {
    background-image: url("Images/menuBackground.webp");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: cursive;
}